body {
  background-image: url("Images/background.png");
  background-repeat: repeat;
  opacity: 1;
}

.websiteHeading {
  text-align: center;
  font-weight: bolder;
  color: rgb(55, 44, 44);
  margin-top: 50px;
}

.websitetext {
  font-weight: 600;
  color: black;
  font-size: 19px;
  text-align: justify;
  line-height: 1.6;
}

.loginForm {
  background: #000000e3;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 15px;
  color: white;
}

.noteCard {
  margin: 10px 0px;
  border: 2px solid black;
  box-shadow: 0px 5px 0px 0px black;
  transform: scale(1.025);
}

.icons {
  cursor: pointer;
}

#root {
  margin-bottom: 100px;
}

#websiteContent{
  margin-top: 70px;
}

.noteField-signup,.noteField-note {
  border: 2px solid black;
  box-shadow: 0px 5px 0px 0px black;
}

.noteField-signup:focus,.noteField-note:focus {
  border: 2px solid black;
  box-shadow: 0px 5px 0px 0px black;
}

.noteField-login {
  border: 2px solid white;
  box-shadow: 0px 5px 0px 0px #72a3eb;
}

.noteField-login:focus {
  border: 2px solid white;
  box-shadow: 0px 5px 0px 0px #72a3eb;
}

.addNoteBtn {
  box-shadow: 0px 5px 0px 0px black;
  width: 40%;
  height: 50px;
  opacity: 1;
}

.signupBtn {
  height: 50px;
  width: 50%;
  margin-top: 30px;
}

.textData{
  font-size: 18px;
  font-weight: 600;
}

#myAlert{
  position: absolute;
  width: 100%;
}

.tags{
  background-color: orange;
  border-radius: 10px;
}

.noteTitle{
  word-wrap: anywhere;
}